@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
  background: black;
  font-family: 'Fira Code', monospace;
  color: white;
  font-weight: 300;
}

h1{
  color: red;
  font-weight: 500;
  margin-block-end: 0.30em;
}

.container{
  max-width: 768px;
  margin: auto;
}